env:
  global:
    - CC_TEST_REPORTER_ID=4619a5331755d6a1d313f0a59a6c1d6c671c72320c7be43a9aeb423b7e58e349
    - HMAC_KEY=flying
    - HMAC_SECRET=potato
language: ruby
rvm:
  - 2.7.0
before_install: 
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
  - gem install bundler
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rake db:create --all
  - bundle exec rake db:migrate
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
services:
  - postgresql
